  .container-form{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  #right{
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }
  table{
    width: 100%;
    table-layout: fixed;
  }
  .tbl-header{
    background-color: rgba(255,255,255,0.3);
   }
  .tbl-content{
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
  }
  th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500 bolder;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
  }
  td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 15px;
    color: #fff;
    border: solid 1px rgba(255,255,255,0.1);
  }
  
  
  /* demo styles */
  
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
  body{
    background: -webkit-linear-gradient(left, #c425c1, #b9a5c0);
    background: linear-gradient(to right, #c105ba, #cb90e3);
    font-family: 'Roboto', sans-serif;
  }





